@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

:root {
  --primary-color: rgb(200,200,90);
  --secondary-color: rgb(49, 56, 148);
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body{
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: var(--primary-color);
  background-size: cover;
  background-position: center;
}

header{
  background-color: #fff;
  position: relative;
  top: 0;
  width: 100%;
  padding: 10px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: double 10px var(--secondary-color);
}

label{
  display: none;
}

header .navigation a{
  color: var(--secondary-color);
  font-size: 18px;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 2px 15px;
  border-radius: 20px;
  transition: 0.3s;
  transition-property: background;
}

header .navigation a:not(:last-child){
  margin-right: 10px;
}

header .navigation a:hover{
  background: var(--primary-color);
}

main{
  background: var(--primary-color);
  margin:0;
  padding: 0;
}

.pys-image{  
  background: #fff;
  border-bottom: double 10px var(--secondary-color);
  margin: 0; 
}

.pys-image a{  
  display: flex;
  justify-content: center;
  align-items: center;
}

.pys-image a img{
  width: 100%;
  margin: 10px;
} 

.pys-menu{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: #fff;
  padding: 10px;
  position: sticky;
  top: 0;
}

.pys-menu-button a{
  color: var(--secondary-color);
  font-size: 18px;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 2px 15px;
  border-radius: 20px;
  transition: 0.3s;
  transition-property: background;
}

.pys-menu-button :hover{
  background: var(--primary-color);
}

.pys-info{  
  border: double 10px var(--secondary-color);
  margin: 20px;   
}

.pys-info a{  
  display: block;
  margin-top: 60px;
}

.pys-info a img{
  border: double 10px var(--secondary-color);
  width: 200px;
  margin: 10px;
  float: right;
}  

.pys-info h1{
  margin: 10px;
  color: var(--secondary-color);
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 2px;
  line-height: 60px;
  margin-bottom: 30px;
}

.pys-info h2{
  margin: 10px;
  color: var(--secondary-color);
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 2px;
  line-height: 60px;
  margin-bottom: 30px;
}

.pys-info p{
  margin: 15px;
  color: var(--secondary-color);
}

.pys-info li{
  margin: 15px;
  margin-left: 25px;
  color: var(--secondary-color);
}


.content{
  padding: 50px;
}

main .content .info h2{
  color: var(--secondary-color);
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 2px;
  line-height: 60px;
  margin-bottom: 30px;
}

main .content .info p{
  color: var(--secondary-color);
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 0px;
}

main .content .info-btn a{
  
  color: var(--primary-color);
  background: var(--secondary-color);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  padding: 10px 20px;
  margin-left: 80%;
  border-radius: 5px;
  transition: 0.3s;
  transition-property: background;
}

main .content .info-btn a:hover{
    color: var(--secondary-color);
  background: #fff;
}

footer {
  background: var(--primary-color);
}
footer .media-icons{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

footer .media-icons a{
  position: relative;
  color: var(--secondary-color);
  font-size: 25px;
  transition: 0.3s;
  transition-property: transform;
}

footer .media-icons a:not(:last-child){
  margin-right: 60px;
}

footer .media-icons a:hover{
  transform: scale(1.5);
}

#check{
  z-index: 3;
  display: none;
}

main ul{
    list-style: none;
}

.dates{
    color: var(--secondary-color);
    padding: 10px;
    margin-left: 10px;
}

.flex-container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
}

.form{
    min-width: 300px;
    flex:1;
    text-align: center;
    padding: 10px;
    
}

.form__input{
    width: 100%;
    padding: 6px;
    margin: 6px 0;
    border: none;
    border-bottom: 3px solid var(--secondary-color);
    background: transparent;
}
.form__input:focus{
    outline: 1px solid var(--secondary-color);
    
}

.form textarea {
    min-height: 100px;
}

.form-img{
    flex:1;
    padding: 10px;
    display: flex;
}

.form-img img{
    width: 40%;
    min-width: 300px;
    margin: auto;
}

.form input[type="submit"]{
    color: var(--primary-color);
    background: var(--secondary-color);
    border-bottom: none;
}

.form input[type="submit"]:hover{
    color: var(--secondary-color);
    background: #fff;
}


/* Responsive CSS */

@media (max-width: 950px){
  header .navigation{
    display: none;
  }

  header label{
    background: #fff;
    width: 10%;
    color: var(--secondary-color);
    display: flex;
    font-size: 25px;
    cursor: pointer;
    transition: 0.3s;
    transition-property: color;
  }

  
  header label .close-btn{
    display: none;
  }

  #check:checked ~ header .navigation{
    z-index: 2;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    opacity:0.9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #check:checked ~  header .navigation a{
    font-weight: 700;
    margin-right: 0;
    margin-bottom: 50px;
    letter-spacing: 2px;
  }

  #check:checked ~ header label .close-btn{
    z-index: 2;
    position: fixed;
    display: block;
  }

  #check:checked ~ header label .menu-btn{
    display: none;
  }

  header label .menu-btn{
    position: absolute;
  }

  header .logo{
    position: absolute;
    bottom: -6px;
  }

  main .content .info h2{
    font-size: 35px;
    line-height: 50px;
  }

  main .content .info h2 span{
    font-size: 40px;
    font-weight: 600;
  }

  main .content .info p{
    font-size: 14px;
  }

  main .content .info-btn a{
    font-size: 12px; 
    padding: 5px;
    
  }

  .pys-info a{  
    margin-top: 10px;
  }

  .pys-info h2{
    font-size: 20px;
  }

  .pys-menu{
    display: none;
  }
  
  main label{
    background: #fff;
    width: 100%;
    color: var(--secondary-color);
    display: flex;
    font-size: 25px;
    cursor: pointer;
    transition: 0.3s;
    transition-property: color;
    padding: 10px;
    position: sticky;
    top: 0;
  }

  
  main label .close-btn{
    display: none;
  }

  
  main label .menu-btn{
    position: sticky;
    top: 0;
  }

  

  

}


@media (max-width: 660px){
  main .content .info h2{
    font-size: 35px;
    line-height: 40px;
  }

  main .content .info h2 span{
    font-size: 30px;
    font-weight: 600;
  }

  main .content .info p{
    font-size: 14px;
  }

  
  .pys-info a img{
    width: 150px;
  }

  .pys-info h1{
    font-size: 35px;
  }

  .pys-info h2{
    font-size: 15px;
  }
}

@media (max-width: 560px){

  main .content .info h2{
    font-size: 25px;
    line-height: 20px;
  }

  main .content .info h2 span{
    font-size: 20px;
    font-weight: 500;
  }

  main .content .info p{
    font-size: 12px;
  }
  main .content .info-btn a{
    font-size: 12px; 
    padding: 5px;
    margin-left: 0;
    
  }

  .pys-info a img{
    width: 100px;
  }
  .pys-info h1{
    font-size: 25px;
  }

  .pys-info h2{
    font-size: 12px;
  }

  .pys-info p{
    font-size: 12px;
  }
  .pys-info li{
    font-size: 12px;
  }
}

@media (max-width: 440px){

  header{
    display: block;
  }

  header img{
    background: #fff;
    max-width: 100%;
  }

  label{
    padding: 20px;
  }

  main{
    margin: 0;
    padding: 0;
  }

  main .content .info h2{
    font-size: 18px;
    line-height: 20px;
  }

  main .content .info h2 span{
    font-size: 15px;
    font-weight: 500;
  }

  main .content .info p{
    font-size: 12px;
  }
  
  .pys-info h1{
    font-size: 20px;
  }
}